:root {
    --color1: #dcde57;
    --color2: #8a8f35;
    --color3: #e5e891;
}

body {
    display: grid;
    place-items: center;
}

h1 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

svg {
    transition: all 1s ease;
    width: 25%;
}

.cls-1 {
    fill: var(--color1);
}
.cls-2 {
    fill: var(--color2);
}
.cls-3 {
    fill: var(--color3);
}
.cls-4 {
    fill: none;
}

svg:hover {
    transform: rotate(720deg);
    transform-origin: center;
}
